.catalog {
  width: 100%;
  flex-grow: 1;
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5%;
  padding: 30px 0 60px;
}

@media (max-width: 767px) {
  .catalogList {
    padding: 20px 0 40px;
  }
}

@media (max-width: 575px) {
  .catalogList {
    padding: 15px 0 30px;
  }
}