.alphabeticalList {
  flex-grow: 1;
  padding: 30px 0;
}

.alphabeticalListItem {
  margin-bottom: 30px;
}

.alphabeticalListLetter {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
}

.alphabeticalListLinks {
  //column-count: 3;

  p {
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .alphabeticalListLetter {
    font-size: 18px;
  }

  .alphabeticalListLinks {
    p {
      font-size: 14px;
    }
  }
}