.footer {
  position: relative;
  min-height: 250px;
  color: #FFFFFF;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  * {
    position: relative;
    z-index: 1;
  }

  p {
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.footerWrapper {
  position: relative;
  padding-top: 80px;

  &::before, &::after {
    position: absolute;
    content: "";
    top: -0.2px;
    width: 50%;
    height: 25px;
    background-color: #FFFFFF;
    z-index: 2;
  }

  &::before {
    left: 0;
    clip-path: polygon(0 100%, 0 0, 100% 0, 97% 100%);
  }

  &::after {
    right: 0;
    clip-path: polygon(3% 100%, 0 0, 100% 0, 100% 100%);
  }
}

.footerButton {
  position: absolute;
  content: "";
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: 50% 100%;
}

.footerCopyright {
  margin-top: 20px;
}


//--- responsive

@media (max-width: 1600px) {
  .footerWrapper {
    &::before {
      clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
    }

    &::after {
      clip-path: polygon(5% 100%, 0 0, 100% 0, 100% 100%);
    }
  }
}


@media (max-width: 991px) {
  .footerWrapper {
    &::before {
      clip-path: polygon(0 100%, 0 0, 100% 0, 93% 100%);
    }

    &::after {
      clip-path: polygon(7% 100%, 0 0, 100% 0, 100% 100%);
    }
  }
}


@media (max-width: 767px) {
  .footerWrapper {
    &::before {
      clip-path: polygon(0 100%, 0 0, 100% 0, 91% 100%);
    }

    &::after {
      clip-path: polygon(9% 100%, 0 0, 100% 0, 100% 100%);
    }
  }
}

@media (max-width: 575px) {
  .footerWrapper {
    &::before {
      clip-path: polygon(0 100%, 0 0, 100% 0, 87% 100%);
    }

    &::after {
      clip-path: polygon(13% 100%, 0 0, 100% 0, 100% 100%);
    }
  }
}