.logoText {
  color: #31BDD7;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 4px;

  &:hover {
    color: #31BDD7;
  }
}

.logoActiveLink {
  cursor: default;
}

@media (max-width: 575px) {
  .logoText {
    font-size: 36px;
    letter-spacing: 3.6px;
  }
}