.breadcrumbs {
  width: 100%;

  ul {
    padding: 20px 0 0;
  }

  li {
    display: inline-block;

    &::after {
      content: "/";
      padding: 0 10px;
    }

    &:last-of-type::after {
      display: none;
    }
  }
}

.breadcrumbsActive {
  cursor: default;
  color: #2c98a8;

  &:hover {
    opacity: 1;
    color: #2c98a8;
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    ul {
      padding-top: 45px;
    }
  }
}

@media (max-width: 575px) {
  .breadcrumbs {
    ul {
      padding-top: 40px;
      font-size: 14px;
    }
    li {
      &::after {
        padding: 0 7px;
      }
    }
  }
}