/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
  url(fonts/proximanova-black.woff2) format('woff2'),
  url(fonts/proximanova-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
  url(fonts/proximanova-extrabld.woff2) format('woff2'),
  url(fonts/proximanova-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url(fonts/proximanova-bold.woff2) format('woff2'),
  url(fonts/proximanova-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url(fonts/proximanova-semibold.woff2) format('woff2'),
  url(fonts/proximanova-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url(fonts/proximanova-regular.woff2) format('woff2'),
  url(fonts/proximanova-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
  url(fonts/proximanova-light.woff2) format('woff2'),
  url(fonts/proximanova-light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
  url(fonts/proximanova-thin.woff2) format('woff2'),
  url(fonts/proximanova-thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}


/* Proxima Nova Condensed */
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
  url(fonts/proximanovacond-black.woff2) format('woff2'),
  url(fonts/proximanovacond-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
  url(fonts/proximanovacond-extrabld.woff2) format('woff2'),
  url(fonts/proximanovacond-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
  url(fonts/proximanovacond-semibold.woff2) format('woff2'),
  url(fonts/proximanovacond-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
  url(fonts/proximanovacond-bold.woff2) format('woff2'),
  url(fonts/proximanovacond-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Cn';
  src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
  url(fonts/proximanovacond-regular.woff2) format('woff2'),
  url(fonts/proximanovacond-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Proxima Nova Extra Condensed */
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
  url(fonts/proximanovaexcn-black.woff2) format('woff2'),
  url(fonts/proximanovaexcn-black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Extrabold'), local('ProximaNovaExCn-Extrabld'),
  url(fonts/proximanovaexcn-extrabld.woff2) format('woff2'),
  url(fonts/proximanovaexcn-extrabld.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
  url(fonts/proximanovaexcn-bold.woff2) format('woff2'),
  url(fonts/proximanovaexcn-bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
  url(fonts/proximanovaexcn-semibold.woff2) format('woff2'),
  url(fonts/proximanovaexcn-semibold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova ExCn';
  src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
  url(fonts/proximanovaexcn-light.woff2) format('woff2'),
  url(fonts/proximanovaexcn-light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
body{font-family:"Proxima Nova", sans-serif;font-size:16px;line-height:1.2;margin:0;background-color:#FFFFFF;overflow-x:hidden}*,*::before,*::after{box-sizing:border-box}*:focus{outline:none !important}a,button,label,p,span,select,option,input,textarea{transition:all .2s ease}a,button,input,label,select,textarea{touch-action:manipulation}body,ul,ol,p,h1,h2,h3,h4,h5,h6,input,button,textarea,select,table,figure,li{padding:0;margin:0;font-weight:normal}label{margin:0}figcaption,figure,main,article,aside,footer,header,nav,section{display:block}ol,ul{list-style:none}a{color:#000000;text-decoration:none;background-color:transparent;cursor:pointer}a:hover{opacity:0.85;color:inherit;text-decoration:none}img{display:block;max-width:100%;height:auto;border-style:none}button{display:block;padding:0;border:none;background-color:transparent;text-align:center;cursor:pointer;overflow:visible}button:hover{opacity:0.85}button:disabled{opacity:0.6;pointer-events:none;cursor:not-allowed}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}input[type=text],input[type=email],input[type=password],input[type=search],input[type=tel],input[type=number],input[type=date],input[type=submit],input[type=reset],input[type=file],input[type=button],select{-webkit-appearance:none;-moz-appearance:none;appearance:none}input::-webkit-input-placeholder{opacity:1;color:inherit;font-size:inherit}input::-moz-placeholder{opacity:1;color:inherit;font-size:inherit}input:-moz-placeholder{opacity:1;color:inherit;font-size:inherit}input:-ms-input-placeholder{opacity:1;color:inherit;font-size:inherit}input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}input[type='number']{-moz-appearance:textfield}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:100%;outline:none;border-radius:0}textarea{overflow:auto}table{width:100%;border-collapse:collapse;border-width:0;border-spacing:0;border-color:transparent}table th{font-weight:normal;text-align:left}[hidden]{display:none}.text-gradient__3WEY9{-webkit-background-clip:text !important;-webkit-text-fill-color:transparent;background-size:0 0 !important;-webkit-background-size:contain !important}

.header__3bMN6{padding-top:78px;background-color:#000000}.headerTop__1nW90{position:fixed;top:0;left:0;width:100%;padding:15px 0;background-color:#000000;box-shadow:1px 1px 10px rgba(0,0,0,0.2);z-index:5}.headerTop__1nW90 div[class^="container"]{display:flex;justify-content:space-between;align-items:center}.headerBottom__1fMsf{position:relative;display:flex;min-height:350px;color:#FFFFFF;background-repeat:no-repeat;background-size:100% auto;background-position:50% 50%}.headerBottom__1fMsf::before{position:absolute;content:'';width:100%;height:100%;background-color:rgba(0,0,0,0.7)}.headerBottom__1fMsf *{position:relative;text-align:center;z-index:1}.headerBottom__1fMsf div[class^="container"]{display:flex;flex-direction:column;align-items:center;justify-content:center;flex-grow:1}.headerTitle__nYwvC{font-size:36px;font-weight:700;text-transform:uppercase;letter-spacing:2px}.headerDesc__35g4S{margin:30px 0;font-size:24px}.headerOnlyTop__1eqBj .headerBottom__1fMsf{display:none}@media (max-width: 1350px){.headerTop__1nW90 [class^="search"]{margin-right:80px}}@media (max-width: 992px){.headerTop__1nW90{padding:10px 0 15px}.headerTop__1nW90 div[class^="container"]{display:block}}@media (max-width: 767px){.headerBottom__1fMsf{min-height:250px}.headerTitle__nYwvC{font-size:28px}.headerDesc__35g4S{margin:10px 0 -5px;font-size:20px}}@media (max-width: 575px){.headerBottom__1fMsf{min-height:180px}.headerTitle__nYwvC{font-size:24px;letter-spacing:1.8px}.headerDesc__35g4S{font-size:16px}}

.logoText__2yR32{color:#31BDD7;font-size:40px;font-weight:800;letter-spacing:4px}.logoText__2yR32:hover{color:#31BDD7}.logoActiveLink__V5KG_{cursor:default}@media (max-width: 575px){.logoText__2yR32{font-size:36px;letter-spacing:3.6px}}

.container__3nrvK{max-width:1200px;width:100%;margin:0 auto;padding:0 15px}

.search__11-Uo{max-width:500px;width:100%;height:40px;position:relative}.search__11-Uo input{padding-right:30px;background-repeat:no-repeat;background-position:right 5px top 50%;background-size:20px auto}.searchResults__JnGdr{position:absolute;content:"";left:0;top:100%;width:100%;padding:5px 0;border-top:1px solid #CCCCCC;background-color:#FFFFFF;border-radius:5px;box-shadow:1px 1px 3px 0 rgba(0,0,0,0.2)}.searchResults__JnGdr a{display:block;padding:5px 30px 5px 15px;border-bottom:1px dashed #CCCCCC}.searchResults__JnGdr a:last-of-type{border-bottom:none}.searchResults__JnGdr a:hover{background-color:#d3eff2}.searchResults__JnGdr a span{display:inline-block}.searchResults__JnGdr p{padding:3px 30px 3px 15px}@media (max-width: 1350px){.search__11-Uo{margin-right:80px}}@media (max-width: 992px){.search__11-Uo{max-width:450px;height:30px;margin-top:5px;font-size:14px}.search__11-Uo input{padding-right:25px;background-size:15px auto}.searchResults__JnGdr a,p{padding-right:25px}}

.input__1Wzak{width:100%;height:100%;padding:0 15px;border:none;border-radius:5px;color:gray}

.toggleMenu__2Ouhl{position:absolute;content:"";top:50%;right:15px;transform:translateY(-50%);width:30px;height:30px;background-repeat:no-repeat;background-position:50% 50%;background-size:30px auto;z-index:3}@media (max-width: 992px){.toggleMenu__2Ouhl{top:30px}}

.menu__2w9pn{position:fixed;right:0;top:0;bottom:0;width:80%;max-width:200px;padding:20px 10px;background-color:#FFFFFF;transform:translateX(0);transition:all 0.22s ease-in;z-index:90}.menu__2w9pn li{margin-bottom:15px;font-size:18px}.menuClose__1429h{transform:translateX(200px)}.menuActiveLink__1oLTj{cursor:default;color:#2c98a8}.menuActiveLink__1oLTj:hover{opacity:1;color:#2c98a8}

.overlay__3tRNn{position:fixed;top:0;left:0;bottom:0;right:0;background-color:rgba(0,0,0,0.7);z-index:50}

.footer__2nhzB{position:relative;min-height:200px;color:#FFFFFF;background-color:#000000;background-repeat:no-repeat;background-size:100% auto;background-position:50% 50%}.footer__2nhzB::before{position:absolute;content:'';width:100%;height:100%;background-color:rgba(0,0,0,0.7)}.footer__2nhzB *{position:relative;z-index:1}.footer__2nhzB p{margin-bottom:5px;font-size:14px}.footer__2nhzB div[class^="container"]{padding-top:40px}.footerCopyright__2-WgL{margin-top:20px}@media (max-width: 575px){.footer__2nhzB{min-height:160px}.footer__2nhzB div[class^="container"]{padding-top:25px}.footer__2nhzB p{font-size:12px}}

.catalog__3w7GI{width:100%;flex-grow:1}.catalogList__2X1hi{display:flex;flex-wrap:wrap;margin:0 -1.5%;padding:30px 0 60px}@media (max-width: 767px){.catalogList__2X1hi{padding:20px 0 40px}}@media (max-width: 575px){.catalogList__2X1hi{padding:15px 0 30px}}

.card__tRKnc{position:relative;display:block;width:22%;margin:15px 1.5%;overflow:hidden}.card__tRKnc:hover{opacity:1;box-shadow:2px 2px 8px rgba(0,0,0,0.4),-2px -2px 8px rgba(0,0,0,0.4)}.card__tRKnc img{width:100%;height:auto;min-height:100%}.cardBorder__3zAK1{box-shadow:0 0 0 1px #EEEEEE}.cardMore__1bzJg{display:flex;align-items:center;justify-content:center;flex-direction:column;position:absolute;content:"";bottom:0;left:0;width:100%;height:150px;padding:5px 10px;background-color:rgba(0,0,0,0.7);color:#FFFFFF;transform:translateY(101%);transition:all 0.3s ease-in}.cardMore__1bzJg p{text-align:center}.cardOpen__2YZGA .cardMore__1bzJg{transform:translateY(0)}.cardTitle__3NqNJ{margin-top:10px;font-size:18px;font-weight:700}.cardRate__1Yc_w{position:absolute;content:"";top:10px;right:10px;display:flex;justify-content:center;align-items:center;width:40px;height:40px;text-align:center;font-weight:700;color:#FFFFFF;opacity:0;border-radius:50%;border:1px solid black;background-color:rgba(0,0,0,0.7);transition:all 0.3s ease-in}.cardOpen__2YZGA .cardRate__1Yc_w{opacity:1}@media (max-width: 992px){.card__tRKnc{width:30.3%}}@media (max-width: 575px){.card__tRKnc{width:47%;margin-bottom:5px}.cardMore__1bzJg{font-size:14px}.cardTitle__3NqNJ{font-size:16px}.cardRate__1Yc_w{width:30px;height:30px;top:5px;right:5px;font-size:14px}}

.lds-default__2tzup{display:block;position:relative;width:80px;height:80px;margin:0 auto}.lds-default__2tzup div{position:absolute;width:6px;height:6px;background:#31BDD7;border-radius:50%;animation:lds-default__2tzup 1.2s linear infinite}.lds-default__2tzup div:nth-child(1){animation-delay:0s;top:37px;left:66px}.lds-default__2tzup div:nth-child(2){animation-delay:-0.1s;top:22px;left:62px}.lds-default__2tzup div:nth-child(3){animation-delay:-0.2s;top:11px;left:52px}.lds-default__2tzup div:nth-child(4){animation-delay:-0.3s;top:7px;left:37px}.lds-default__2tzup div:nth-child(5){animation-delay:-0.4s;top:11px;left:22px}.lds-default__2tzup div:nth-child(6){animation-delay:-0.5s;top:22px;left:11px}.lds-default__2tzup div:nth-child(7){animation-delay:-0.6s;top:37px;left:7px}.lds-default__2tzup div:nth-child(8){animation-delay:-0.7s;top:52px;left:11px}.lds-default__2tzup div:nth-child(9){animation-delay:-0.8s;top:62px;left:22px}.lds-default__2tzup div:nth-child(10){animation-delay:-0.9s;top:66px;left:37px}.lds-default__2tzup div:nth-child(11){animation-delay:-1s;top:62px;left:52px}.lds-default__2tzup div:nth-child(12){animation-delay:-1.1s;top:52px;left:62px}@keyframes lds-default__2tzup{0%,20%,80%,100%{transform:scale(1)}50%{transform:scale(1.5)}}

.error__U6jq4{display:flex;align-items:center;margin:0 auto}.error__U6jq4 p{margin-left:15px;font-size:18px}@media (max-width: 575px){.error__U6jq4 p{font-size:14px}}

.breadcrumbs__1HSQd{width:100%}.breadcrumbs__1HSQd ul{padding:20px 0 0}.breadcrumbs__1HSQd li{display:inline-block}.breadcrumbs__1HSQd li::after{content:"/";padding:0 10px}.breadcrumbs__1HSQd li:last-of-type::after{display:none}.breadcrumbsActive__OJQkk{cursor:default;color:#2c98a8}.breadcrumbsActive__OJQkk:hover{opacity:1;color:#2c98a8}@media (max-width: 992px){.breadcrumbs__1HSQd ul{padding-top:45px}}@media (max-width: 575px){.breadcrumbs__1HSQd ul{padding-top:40px;font-size:14px}.breadcrumbs__1HSQd li::after{padding:0 7px}}

.genresList__RtMGj{flex-grow:1;padding:25px 0 20px}.genresListWrapper__3zS-J div{display:flex;justify-content:space-between;padding-bottom:20px}.genresListWrapper__3zS-J a{display:flex;align-items:center;justify-content:center;width:200px;height:50px;margin-top:2px;margin-right:15px;border-radius:5px;border:2px solid #31BDD7;background-color:#31BDD7;color:#FFFFFF;text-align:center;box-shadow:1px 1px 5px rgba(0,0,0,0.3)}.genresListWrapper__3zS-J p{flex:1;font-size:14px}@media (max-width: 992px){.genresList__RtMGj{padding-top:20px}}@media (max-width: 767px){.genresListWrapper__3zS-J div{display:block;padding-bottom:30px}.genresListWrapper__3zS-J p{margin-top:15px}}@media (max-width: 575px){.genresListWrapper__3zS-J p{font-size:12px}}

.alphabeticalList__3yWAr{flex-grow:1;padding:30px 0}.alphabeticalListItem__3Y0bN{margin-bottom:30px}.alphabeticalListLetter__1V1Yv{margin-bottom:10px;font-weight:700;font-size:22px}.alphabeticalListLinks__1rQ8o p{margin-bottom:5px}@media (max-width: 575px){.alphabeticalListLetter__1V1Yv{font-size:18px}.alphabeticalListLinks__1rQ8o p{font-size:14px}}

.bookItem__3VULh{flex-grow:1;padding-top:20px;padding-bottom:40px}.bookItemWrapper__3yLmf{display:flex}.bookItemWrapper__3yLmf img{width:30%;max-width:280px;min-width:200px}.bookImageBorder__2AjXr{box-shadow:0 0 0 1px #EEEEEE}.bookItemInfo__3icw8{flex:1;margin-left:20px}.bookItemInfo__3icw8 p{padding:5px 0;border-bottom:1px dashed #CCCCCC}.bookItemInfo__3icw8 p a:hover{text-decoration:underline;color:#2c98a8}.bookItemInfo__3icw8 p span{display:inline-block;padding:0 3px;background-color:#31BDD7;color:#FFFFFF;border-radius:2px}.bookItemGenre__2vkgv span{background-color:transparent !important;color:#000 !important}.bookItemGenre__2vkgv span::after{content:" / "}.bookItemGenre__2vkgv span:last-of-type::after{display:none}.bookItemDownload__Me9Ii{display:flex;justify-content:center;align-items:center;width:140px;height:36px;margin-top:10px;font-weight:600;font-size:18px;color:#FFFFFF;text-align:center;background-color:#31BDD7;border-radius:5px}.bookItemDownload__Me9Ii:hover{opacity:1;color:#FFFFFF;filter:brightness(1.1);box-shadow:inset 1px 1px 5px rgba(0,0,0,0.2)}.bookItemDesc__i1Rmm{margin-top:30px}.bookItemDesc__i1Rmm b{display:inline-block;padding-bottom:5px;font-weight:600;font-size:20px}.bookItemDesc__i1Rmm p{margin-top:10px}@media (max-width: 575px){.bookItemWrapper__3yLmf{display:block}.bookItemWrapper__3yLmf img{width:50%}.bookItemInfo__3icw8{margin-top:5px;margin-left:0;padding:7px 0;font-size:14px}.bookItemDownload__Me9Ii{width:152px;font-size:16px}.bookItemDesc__i1Rmm{margin-top:20px}.bookItemDesc__i1Rmm b{font-size:18px}.bookItemDesc__i1Rmm p{font-size:14px}}

.rating__1g9Ru{display:flex;align-items:center;margin-top:5px}.ratingBtn__3XTEM svg path{fill:#31BDD7}.ratingBtnActive__Ft3u_ svg path{fill:#ffc107 !important}

.wrapper__2Ff6O{display:flex;flex-direction:column;justify-content:space-between;position:relative;min-width:360px;min-height:100vh;width:100%;height:100%;margin:auto;color:#000000;box-sizing:border-box;overflow:hidden}

